.show-recipe {
  margin: 7rem 2rem 2rem 2rem;

  &__image {
    position: relative;
    max-width: 326px;
    // width: 400px;
    &-times {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.624);
      padding: 1rem;
      color: white;
      border-radius: 10px 10px 0 0;
      z-index: 10;
      font-weight: 300;
      font-size: 0.9rem;
    }
  }
  &__subheading {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0.3rem 0;
  }
  &__p {
    font-size: 1.1rem;
  }
  &__serves {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  &__confirm {
    margin: 1rem 0 6rem 0;
  }
  &__delete {
    margin-bottom: 4rem;
    background-color: rgb(232, 82, 82);
    color: white;
    border: none;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
  &__confirm-btns {
    &-cancel {
      border: none;
      padding: 0.2rem 1rem;
      border-radius: 5px;
      background-color: rgb(163, 163, 163);
      color: white;

      margin: 5px 5px 0 0;
    }
    &-delete {
      border: none;
      padding: 0.2rem 1rem;
      border-radius: 5px;
      background-color: rgb(232, 82, 82);
      color: white;
    }
  }
}

span {
  font-weight: 400;
}
