.index {
  margin: 7rem 2rem 2rem 2rem;
  font-size: 1.5rem;
  font-weight: 300;

  &__recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: auto;
  }

  &__recipe-card {
    position: relative;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: white;
    height: 12rem;
    max-width: 330px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    &-title {
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.536);
      padding: 1rem;
      color: white;
      border-radius: 10px 10px 0 0;
      z-index: 10;
    }
  }
}
